.vs/**
packages/**
Anagrams/bin/**
Anagrams/obj/**
BubbleSort/bin/**
BubbleSort/obj/**
FibonacciSeries/bin/**
FibonacciSeries/obj/**
FindingVowels/bin/**
FindingVowels/obj/**
FizzBuzz/bin/**
FizzBuzz/obj/**
IntegerReversal/obj/**
IntegerReversal/bin/**
MaxChars/obj/**
MaxChars/bin/**
MergeSort/bin/**
MergeSort/obj/**
Palindromes/obj/**
Palindromes/bin/**
SelectionSort/bin/**
SelectionSort/obj/**
SpiralMatrices/bin/**
SpiralMatrices/obj/**
StringReversal/obj/**
StringReversal/bin/**