.vs/**
packages/**
Anagrams/bin/**
Anagrams/obj/**
ArrayChunking/bin/**
ArrayChunking/obj/**
BubbleSort/bin/**
BubbleSort/obj/**
FibonacciSeries/bin/**
FibonacciSeries/obj/**
FindingVowels/bin/**
FindingVowels/obj/**
FizzBuzz/bin/**
FizzBuzz/obj/**
IntegerReversal/obj/**
IntegerReversal/bin/**
MaxChars/obj/**
MaxChars/bin/**
MergeSort/bin/**
MergeSort/obj/**
Palindromes/obj/**
Palindromes/bin/**
PrintingPyramids/bin/**
PrintingPyramids/obj/**
PrintingSteps/bin/**
PrintingSteps/obj/**
Queues/bin/**
Queues/obj/**
SelectionSort/bin/**
SelectionSort/obj/**
SentenceCapitalization/bin/**
SentenceCapitalization/obj/**
SpiralMatrices/bin/**
SpiralMatrices/obj/**
Stacks/bin/**
Stacks/obj/**
StringReversal/bin/**
StringReversal/obj/**
Trees/bin/**
Trees/obj/**