.vs/**
packages/**
Anagrams/bin/**
Anagrams/obj/**
BubbleSort/bin/**
BubbleSort/obj/**
FizzBuzz/bin/**
FizzBuzz/obj/**
IntegerReversal/obj/**
IntegerReversal/bin/**
MergeSort/bin/**
MergeSort/obj/**
Palindromes/obj/**
Palindromes/bin/**
SelectionSort/bin/**
SelectionSort/obj/**
StringReversal/obj/**
StringReversal/bin/**